<div class="modal-header">
  <h4 class="modal-title pull-left">{{ title }}</h4>
</div>
<div class="modal-body">
  <div class="form-group">
  
    <form  #form="ngForm"  autocomplete="off" id="editForm" class="form-inline" (ngSubmit)="addUpdateItem()">
      <div class="col-lg-4">
        <label>Item Name</label>

        <input type="text" [(ngModel)]="newItemModel.itemName" class="form-control" name="introduction" />
      </div>
      <div class="col-lg-4">
        <label>Category</label>
        <select name="itemCategory"  [(ngModel)]="newItemModel.category" style="width: 230px"   class="form-control ">
          <option  value="-1">
            -Select-
        </option>
          <option *ngFor="let cat of itemCategories" [value]="cat.id">
            {{cat.categoryName }}
        </option>
      </select>

     
      </div>
      <div class="col-lg-4">
        <label>Quantity</label>
        <input type="number"  [(ngModel)]="newItemModel.quantity" class="form-control" name="introduction" />
      </div>
      
      <div class="col-lg-4">
        <label>Measurement Unt</label>
        <select name="MeasurementUnit"  [(ngModel)]="newItemModel.unit" style="width: 230px"   class="form-control ">
          <option  value="-1">
            -Select-
        </option>
          <option *ngFor="let mUnit of measurementUnit" [value]="mUnit.id">
            {{mUnit.unit}}
        </option>
      </select>
      </div>

      <div class="col-lg-4">
        <label>Store</label>
        <select name="store"  [(ngModel)]="newItemModel.store" style="width: 230px"   class="form-control ">
          <option  value="-1">
            -Select-
        </option>
          <option *ngFor="let store of stores" [value]="store.storeId">
            {{store.storeName}}
        </option>
      </select>
      </div>

      <div class="col-lg-4">
        <label>Supply</label>
        <select name="supply"  [(ngModel)]="newItemModel.supply" style="width: 230px"   class="form-control ">
          <option  value="-1">
            -Select-
        </option>
          <option *ngFor="let sup of supplies" [value]="sup.id">
            {{sup.supplyTitle}}
        </option>
      </select>
      </div>

      <div class="col-lg-4">
        <label>Description</label>

        <textarea  [(ngModel)]="newItemModel.description" rows="4" class="form-control" style="width: 485px" name="introduction">
        </textarea>
      </div>
     
      
    </form>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="confirm()">
    {{ btnOkText }}
  </button>
  <button type="button" class="btn btn-danger" (click)="decline()">
    {{ btnCancelText }}
  </button>
</div>
