<div class="modal-header">
  <h4 class="modal-title pull-left">{{ title }}</h4>
</div>
<div class="modal-body">
  <div class="row">
    <table class="table">
        <tr>
            <th style="width: 20%;">Initial Quantity</th>
            <th style="width: 30%;">Pulled quantity</th>
            <th style="width: 20%;">Balance</th>
            <th style="width: 30%;">Date</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="confirm()">
    {{ btnOkText }}
  </button>
  <button type="button" class="btn btn-danger" (click)="decline()">
    {{ btnCancelText }}
  </button>
</div>
