<div class="modal-header">
  <h4 class="modal-title pull-left">Inventory history Details</h4>
</div>
<div class="modal-body">
 
    <table class="table">
        <tr>
            <th style="width: 15%;">Actual Qty</th>
            <th style="width: 15%;">Pulled Qty</th>
            <th style="width: 20%;">Serial</th>
            <th style="width: 20%;">Date</th>
            <th style="width: 30%;">Description</th>
        </tr>
        <tr *ngFor="let inventory of inventories">
            <td align="center">{{inventory.actualQuantity}}</td>
            <td align="center">{{inventory.withdrawQuantity}}</td>
            <td align="center">{{inventory.serialNumber}}</td>
            <td >{{inventory.inventoryDate  | date:'shortDate'}}</td>
            <td>{{inventory.description}}</td>
        </tr>
    </table>
</div>

<div class="modal-footer">
 
  <button type="button" class="btn btn-danger" (click)="decline()">
    {{ btnCancelText }}
  </button>
</div>
