<div class="text-center mt-3">
  <h2>List Of Items</h2>
</div>
<!-- <div class="text-center mt-3">
    <h2>Total Records - {{pagination?.totalItems}}</h2>
</div> -->

<div class="container mt-3">
  <form
    #form="ngForm"
    class="form-inline mb-3"
    (ngSubmit)="loadItems()"
    autocomplete="off"
  >
    <div class="form-group">
      <label>Item : </label>
      <input
        type="text"
        class="form-control ml-1"
        style="width: 170px"
        name="itemName"
        [(ngModel)]="searchParams.itemName"
      />
    </div>

    <div class="form-group px-2">
      <label>Store :&nbsp; </label>
      <select
        name="store"
        [(ngModel)]="searchParams.storeId"
        style="width: 170px"
        class="form-control"
      >
        <option value="-1">-Select-</option>
        <option *ngFor="let store of stores" [value]="store.storeId">
          {{ store.storeName }}
        </option>
      </select>
    </div>

    <button class="btn btn-primary ml-1" type="button" (click)="loadItems()">
      Search
    </button>
    <button (click)="resetFilters()" class="btn btn-info ml-1" type="button">
      Reset
    </button>
    <button
      class="btn btn-success ml-1"
      type="button"
      (click)="openAddItemModal()"
    >
      <i class="fa fa-plus"></i>&nbsp;New Item
    </button>
    <div class="col">
      <div class="btn-group float-right">
        <button
          type="button"
          class="btn btn-primary"
          name="orderBy"
          (click)="loadItems()"
          btnRadio="lastActive"
          [(ngModel)]="userParams.orderBy"
        >
          Last Inventory
        </button>

        <button
          type="button"
          class="btn btn-primary"
          name="listView"
          (click)="toggleView()"
          btnRadio="listView"
          [(ngModel)]="viewModel.ViewType"
        >
          {{ viewModel.ViewType }}
        </button>
      </div>
    </div>
  </form>
  <div class="text-right mt-3">
    <h5>Total Records - {{ pagination?.totalItems }}</h5>
  </div>
</div>


  <div class="row" *ngIf="this.viewModel.ViewType == 'Card View'; else elseBlock">
    <div *ngFor="let item of items" class="col-2">
      <br />
      <app-item-card [item]="item"></app-item-card>
    </div>
  </div>
  <ng-template #elseBlock>
     
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Item Name</th>
      <th scope="col">Category</th>
      <th scope="col">Store</th>
      <th scope="col">Inititial/Inventory qty</th>
    </tr>
  </thead>
  <tbody>
    <tr
      app-item-table
      *ngFor="let item of items; let sno = index"
      [item]="item"
      [sno]="sno"
    ></tr>
  </tbody>
</table>

 </ng-template
  >



<div class="d-flex justify-content-center" *ngIf="pagination">
  <pagination
    [boundaryLinks]="true"
    [totalItems]="pagination.totalItems"
    [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="pagination.currentPage"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;"
  >
  </pagination>
</div>
