<div class="text-center mt-3">
  <h2>List Of Supplies</h2>
</div>
<!-- <div class="text-center mt-3">
    <h2>Total Records - {{pagination?.totalItems}}</h2>
</div> -->

<div class="container mt-3">
  <form
    #form="ngForm"
    class="form-inline mb-3"
    (ngSubmit)="loadSupplies()"
    autocomplete="off"
  >
    <div class="form-group">
      <label>Supplier : &nbsp;</label>
      <select name="supplier"  [(ngModel)]="searchParams.supplierId" style="width: 170px"   class="form-control ">
        <option  value="-1">
          -Select-
      </option>
        <option *ngFor="let supplier of suppliers" [value]="supplier.Id">
          {{supplier.supplierName}}
      </option>
    </select>
     
    </div>

    <div class="form-group px-2">
      <label>Supply Title :&nbsp; </label>
      <input
        type="text"
        class="form-control ml-1"
        style="width: 170px"
        name="supplyTitle" [(ngModel)]="searchParams.supplyTitle"
      />
    </div>

    <button class="btn btn-primary ml-1" type="button" (click)="loadSupplies()">Search</button>
    <button (click)="resetFilters()" class="btn btn-info ml-1" type="button">
      Reset
    </button>
    <button
      class="btn btn-success ml-1"
      type="button"
      (click)="openAddSupplyModal()"
    >
      <i class="fa fa-plus"></i>&nbsp;New Supply
    </button>
    <div class="col">
      <div class="btn-group float-right">
        <button
          type="button"
          class="btn btn-primary"
          name="orderBy"
          (click)="loadSupplies()"
          btnRadio="lastActive"
          [(ngModel)]="userParams.orderBy"
        >
          Last Supply
        </button>

        <!-- <button
          type="button"
          class="btn btn-primary"
          name="orderBy"
          (click)="loadSupplies()"
          btnRadio="created"
          [(ngModel)]="userParams.orderBy"
        >
          Newest Supplier
        </button> -->
      </div>
    </div>
  </form>
  <div class="text-right mt-3">
    <h5>Total Records - {{ pagination?.totalItems }}</h5>
  </div>
</div>

<div class="row">
  <div *ngFor="let supply of supplies" class="col-2">
    <!-- <span>{{supply.supplyName}}</span> -->
    <br />
    <app-supply-card [supply]="supply"></app-supply-card>
  </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
  <pagination
    [boundaryLinks]="true"
    [totalItems]="pagination.totalItems"
    [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="pagination.currentPage"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;"
  >
  </pagination>
</div>
